@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: antiquewhite;
}
.nav {
  font-family: "Open Sans", sans-serif;
}
.nav ul {
  background-color: black;
  color: white;
  display: flex;
  list-style-type: none;
  align-items: center;
  height: 11vh;
}
.nav ul li {
  padding: 0 20px;
}
.example {
  width: 300px;
  padding-right: 2vw;
  border-radius: 10px;
  margin-left: 59vw;
}
.search1 {
  font-size: 22px;
  border-radius: 18px;
}
.btn {
  font-size: 24px;
  border-radius: 18px;
  color: blue;
}
.brand img {
  width: 80px;
  padding: 0 10px;
  background: none;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 20px;
}
.container {
  height: 65vh;
  width: 70vw;
  background-color: black;
  color: white;
  margin: 20px auto;
  border-radius: 20px;
  display: flex;
  font-family: "Open Sans", sans-serif;
  padding: 20px;
  background-image: url("images.jpg");
}
/*
.hero-image {
  background-image: url("images.jpg");
  background-repeat: no-repeat;
  width: 200px;
  height: 1000px;
} */
.container h1 {
  justify-content: center;
  align-items: center;
}
.navdown {
  height: 14vh;
  background-color: black;
  color: white;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0;
}
.icons {
  margin: 10px 0;
}
#progressBar {
  width: 80vw;
  margin: 1px 0;
}
.songItemContainer {
  margin-top: 30px;
}
.songItem {
  display: flex;
  height: 50px;
  color: black;
  background-color: white;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
}
.songItem img {
  margin: 0 23px;
  border-radius: 30px;
  height: 6vh;
  width: 4vw;
}
.timestamp {
  margin: 0 23px;
}
.timestamp i {
  cursor: pointer;
}
.songInfo img {
  height: 2vh;
  width: 12vh;
  opacity: 0;
  transition: opacity 0.4s ease-in;
}
.songInfo {
  position: absolute;
  left: 11vw;
  top: 92vh;
  font-size: 25px;
}
#gif {
  opacity: 0;
}
.modal {
  /* display: none; Hidden by default */
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 60%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 3rem;
  font-weight: bold;
}
.modal-header .close {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2.5rem;
  font-weight: bolder;
  color: black;
}
.modal-body {
  padding: 10px 15px;
  font-size: 29px;
  padding: 21px 15px;
}
.About {
  cursor: pointer;
}
#myBtn {
  cursor: pointer;
}
